/Meownopoly/build
/Meownopoly/Meownopoly.pro.user.8506b9e
/image_tools/convertir_webp.py
/image_tools/data/*/*.png
/image_tools/data/*/*.mp4
/image_tools/data/**/*.mp4
/image_tools/data/**/*.png
/image_tools/data/output
/image_tools/output/**/*.png
/image_tools/output/**/*.mp4
/image_tools/models_cache
