Meownopoly/debug/
/Meownopoly/build
/build
/build_perf
/Meownopoly/Meownopoly.pro.user.8506b9e
/image_tools/convertir_webp.py
/image_tools/data/*/*.png
/image_tools/data/*/*.mp4
/image_tools/data/**/*.mp4
/image_tools/data/**/*.png
/image_tools/data/output
/image_tools/data/**/*.webp
/image_tools/output/**/*.png
/image_tools/output/**/*.mp4
/image_tools/output/**/*.webp
/image_tools/models_cache
*.user
Meownopoly/Meownopoly.pro.user
Meownopoly/.qtc_clangd/
/asset_server/node_modules
/asset_server/assets
/asset_server/versions
*.autosave
Meownopoly/bin
Meownopoly/bin/*
/image_tools/__pycache__
image_tools/anim_tree_00001.webp
image_tools/output.webp
image_tools/anim_tree_00037.webp
Meownopoly/.qmlls.ini
Meownopoly/.vscode/cmake-kits.json
Meownopoly/.vscode/settings.json
Meownopoly/.vscode/settings.json
Meownopoly/.vscode/settings.json
Meownopoly/.vscode/settings.json
chatServer/node_modules
chatServer/chat.db
chatServer/chat.db-wal
chatServer/chat.db-shm
chatServer/.deployEnv
chatServer/*.backup
.vscode/settings.json
/build
/Meownopoly/.cache
.claude/settings.local.json
/.cache
.claude/skills/chat-server.md
.claude/skills/build.md
/map
/exemple
.claude/scheduled_tasks.lock
/Meownopoly/graphify-out/cache
/graphify-out/cache
