Meownopoly/debug/
/Meownopoly/build
Meownopoly/Meownopoly.pro.user
Meownopoly/Meownopoly.pro.user.8506b9e
Meownopoly/Meownopoly.pro.user.*
*.user
Meownopoly/Meownopoly.pro.user
Meownopoly/.qtc_clangd/
